{%load crispy_forms_tags%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <div id="messages">
        {% if messages %}
            {% for message in messages%}
                <p>
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
           
    </div>
    <div id = "signup-form">
        <form method = "POST">
            {% csrf_token %}

            <fieldset id = "form-group">
                <legend>
                    Log In
                </legend>
            

            </fieldset>
            {{ form|crispy }}
            <div id = "submitbutton">
                <button>Log In</button>
            </div>

        </form>
        <div>
            <p>Want to create an account?</p><a href="{% url 'signup' %}">Sign Up</a>
        </div>
    </div>
</body>
</html>
</html>